.dropdown{
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid #DDDDDD;
     margin-left: 50px; 
     left: 1026px;
     width: 235px;
    }
        

#list
{
    list-style-type:none;
   // border:1px solid #DDDDDD;
    align-content: space-between;
    
}

 .link1
 {
    margin-top:-47px;
 margin-right: 100px;
 width: 32px;
 height: 32px;
 float:right;
 color: #FFFFFF;
 }

 
 li{
    list-style-type: none;
    display: block;
    margin-left: 5px;
       font-size: 14px;
       font-family: 'Open Sans'; 
        font: normal normal normal 16px/22px Open Sans;
        color: #00000099;
        opacity: 1;
        text-align: left;
         padding: 10px;
         width: 213px;

 }