.Mainnav{
    width: 1440px;
    height: 56px;
    background: transparent linear-gradient(90deg, var(---235ba8) 0%, var(---00a9e1) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #235BA8 0%, #00A9E1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #0000004D;
    opacity: 1;
}